*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-grey: #e2e8f0;
  --highlight-yellow: #f0b429;
  --heading-black: black;
  --paragraph-light-black: #636363;
  --aside-text-white: white;
  --aside-backg-blue: #1992d4;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
}