*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dashed red;
}

:root {
  --heading-black: black;
  --aside-text-white: white;
  --background-grey: #e2e8f0;
  --aside-backg-blue: #1992d4;
  --paragraph-light-black: #636363;
  --card-highlight-yellow: #f0b429;
  --card-background-white: white;
  --small-font-size: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

ul {
  list-style: none;
}

p {
  text-align: left;
}

.dashboard-aside {
  width: 27rem;
  color: var(--aside-text-white);
  background-color: var(--aside-backg-blue);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-grey);
}

header {
  height: 16.2rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 4rem;
}

nav ul {
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 0.3fr 1fr 1.5fr;
}

nav ul li {
  display: flex;
  justify-content: center;
}

nav ul li:first-child {
  width: 100%;
  justify-self: flex-start;
}

.header-ul {
  display: flex;
  justify-content: space-between;
}

.header-ul li:first-child {
  display: flex;
}

.header-ul li:last-child {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

input {
  width: 90%;
  border: none;
  padding: 0.75rem 1rem;
  margin-left: 2rem;
  margin-right: 8rem;
  border-radius: 1.2rem;
  background-color: var(--background-grey);
}

header, .card {
  background-color: var(--card-background-white);
}

article,
.cards-projects {
  gap: 1.7rem;
  display: grid;
}

article {
  flex: 1;
  padding: 2rem;
  justify-content: center;
  grid-template-columns: 2.76fr 1fr;
}

article aside {
  height: 100%;
}

article section,
article aside {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

article aside,
article section ul:nth-child(2) {
  width: 100%;
  flex-grow: 1;
  justify-content: center;
}

article aside h2:first-child,
article aside:nth-child(2) {
  margin: 0 auto auto 0;
}

.cards-projects {
  grid-template-columns: 1fr 1fr;
}

.cards-projects .card {
  overflow: hidden;
}

.card {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 2.75rem;
  border-radius: 1rem;
}

.card-highlight {
  left: 0;
  width: 2%;
  height: 100%;
  position: absolute;
  background-color: var(--card-highlight-yellow);
}

.card p {
  font-size: var(--large-font-size);
}

.cards-projects .card ul {
  gap: 2rem;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

.cards-projects .card li {
  display: flex;
  align-items: center;
}

.cards-announcements {
  height: 100%;
  margin-bottom: 2.5rem;
}

.cards-announcements {
  justify-content: space-evenly;
}

.cards-announcements p {
  font-size: var(--small-font-size);
}

.cards-trending ul {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}

.cards-trending ul li {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.pfp {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: pink;
}/*# sourceMappingURL=style.css.map */